/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/** end reset css**/
body {
    max-width: 1140px;
    margin: auto;
    font-family: 'Work Sans';
    font-size: 14px;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 50px 0
}

a {
    text-decoration: none;
    /* Supprime le soulignement par défaut */
    color: black;
    /* Définit la couleur du texte */
}

section {
    margin: 50px 0
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: 'Syne';
    font-size: 22px;
    font-weight: 800;
    color: #B1663C
}

h1>span {
    font-family: 'Work Sans';
    font-size: 10px;
    letter-spacing: 0.1em;
    ;
}

h2 {
    font-family: 'Syne';
    font-weight: 700;
    font-size: 30px;
    color: #1D6154
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

nav li {
    padding: 0 10px;
    font-size: 1.2em;
}

li:hover {
    color: #B1663C;
}

#introduction {
    display: flex;
    align-items: center;
}

#introduction figure {
    flex: 1
}

#introduction img {
    display: block;
    margin: auto;
    width: 80%;
}

#introduction article {
    flex: 1
}

#introduction h2 {
    margin-bottom: 1em;
}

#introduction p {
    margin-bottom: 0.5em;
}

#portfolio h2 {
    text-align: center;
    margin-bottom: 1em;
}

.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.gallery img {
    width: 100%;
}

#contact {
    width: 50%;
    margin: auto;
}

#contact>* {
    text-align: center;
}

#contact h2 {
    margin-bottom: 20px;
}

#contact p a {
    text-decoration: none;
    /* Supprime le soulignement par défaut */
    border-bottom: 1px solid #1D6154;
    /* Ajoute une bordure inférieure */
    color: #1D6154;
    /* Couleur du lien */
}

#contact form {
    text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#contact input {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
    margin: 2em 0 1em 0;
}

#contact textarea {
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin: 2em auto;
    width: 180px;
    text-align: center;
    border-radius: 60px;
}

footer nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 2em
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 10px 0;
}

.filters button {
    height: 37px;
    border-radius: 60px;
    border: 1px solid #1D6154;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    min-width: 100px;
    font-weight: 700;
    padding: 15px;
    color: #1D6154;
    transition: background-color 0.3s;
    /* Ajout d'une transition pour un effet fluide */
}

.filters button:hover {
    background-color: #1D6154;
    /* Changement de couleur de fond au survol */
    color: #ffffff;
    /* Changement de couleur du texte au survol */
}

.filters button.selected {
    background-color: #1D6154;
    /* Couleur verte pour le bouton sélectionné */
    color: #ffffff;
    /* Couleur du texte pour le bouton sélectionné */
}

.filters button.selected:hover {
    background-color: #0f443d;
    /* Changement de couleur de fond au survol pour le bouton sélectionné */
}

.admin_banner {
    right: 0;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: black;
}

.admin_modifer {
    display: flex;
    -moz-column-gap: 5px;
    column-gap: 5px;
    color: white;
    /* Changement de la couleur du texte */
}

.admin_modifer p {
    color: white;
    /* Changement de la couleur du texte */
}

#portfolio {
    position: relative;
}

/* Style pour la modal 1 (initialement cachée) */
#modal1 {
    display: none;
    position: absolute;
    top: 10px;
    right: 30%;
}

/* Style pour la modal 2 (initialement cachée) */
#modal2 {
    position: absolute;
    top: 10px;
    right: 30%;
}

/* Style général des conteneurs de modal */
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Style général de la modal */
.modal {
    background-color: white;
    padding: 15px;
    max-width: 600px;
    width: calc(100% - 60px);
    height: 600px;
    padding: 0 50px;
    overflow: auto;
    position: relative;
    box-sizing: border-box;
    border-radius: 12px;
}

/* Style du bouton de fermeture de la modal */
#close-modal2 {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;
    color: #000;
    font-size: 30px;
    cursor: pointer;
}

#close-modal1 {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;
    color: #000;
    font-size: 20px;
    cursor: pointer;
}

/* Style du titre de la modal */
.modal h2 {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
    color: #000;
}

/* Contenu de la modal */
.modal-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

/* Style des images dans la modal */
.modal-content figure img {
    width: 95px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 20px;
}

/* Style du bouton "Ajouter une photo" */
#open-modal2 {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    height: 45px;
    min-width: 250px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    padding: 0 20px;
    color: white;
    background-color: #1D6154;
    border: none;
}

/* Effet de survol du bouton "Ajouter une photo" */
#open-modal2:hover {
    background-color: #1B5E50;
}

/* Style spécifique de la modal 2 */
#modal-container-2 .modal {
    background-color: white;
    padding: 15px;
    max-width: 600px;
    width: calc(100% - 60px);
    height: 700px;
    overflow: auto;
    position: relative;
}

/* Style général des formulaires dans les modals */
.modal-projet-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    width: calc(100% - 60px);
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
}

/* Style des groupes de champs dans le formulaire */
.modal-projet-form .form-group-title,
.modal-projet-form .form-group-id {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Style des labels dans le formulaire */
.modal-projet-form label {
    font-size: 16px;
    color: #333;
}

/* Style des champs de texte et de sélection dans le formulaire */
.modal-projet-form input[type="text"],
.modal-projet-form select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    /* Retirer le contour */
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Ajouter une ombre */
    box-sizing: border-box;
}

/* Style du bouton de validation dans la modal 2 */
.modal-projet-form input[type="submit"] {
    height: 45px;
    min-width: 250px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    padding: 0 20px;
    color: white;
    background-color: #a7a7a7;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

/* Effet de survol du bouton de soumission */
.modal-projet-form input[type="submit"]:hover {
    background-color: #9a9a9a;
}

/* Conteneur d'image et bouton de suppression */
.work-container {
    position: relative;
    display: inline-block;
}

/* Style du bouton de suppression d'image */
.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #000;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 4px;
}

/* Effet de survol du bouton de suppression */
.delete-button:hover {
    background-color: #333;
}

/* Style du bouton de retour à la modal 1 */
.back-to-modal1 {
    position: absolute;
    top: 10px;
    left: 10px;
    background: transparent;
    border: none;
    color: #000;
    font-size: 24px;
}

/* Effet de survol du bouton de retour à la modal 1 */
.back-to-modal1:hover {
    cursor: pointer;
}

/* Style pour le conteneur de prévisualisation d'image dans la modal 2 */
#photo-preview {
    width: 80%;
    max-width: 450px;
    height: 190px;
    background-color: #E8F1F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #E8F1F6;
    border-radius: 8px;
    margin: 0 auto 20px auto;
    position: relative;
}

.preview-icon {
    font-size: 60px;
    color: #9ba1a1;
    margin-bottom: 10px;
}

#add-photo-btn {
    width: 200px;
    height: 35px;
    border-radius: 20px;
    background-color: #e0e0e0;
    color: #306685;
    font-size: 16px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Effet de survol du bouton "+ Ajouter photo" */
#add-photo-btn:hover {
    background-color: #d0d0d0;
    color: #306685;
}

/* Style pour le texte d'information */
.file-info {
    font-size: 14px;
    color: #757575;
    text-align: center;
}

hr {
    border: 0;
    border-top: 1px solid #08060654;
    margin: 20px 0;
}